/* &display=swap */

@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

@font-face {
   font-family: "MoscowMetro";
   src: url(../fonts/MoscowMetroRegular.woff) format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Bulky";
   src: url(../fonts/Bulky.woff2) format("woff2");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: "Lato", sans-serif;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

.logo {
   color: rgba(224, 12, 55, 0.438);
   font-family: "Bulky", serif;
   text-shadow: 5px 5px 5px rgba(156, 53, 53, 0.63);
   font-size: 150px;
   text-align: center;
}
.menu li {
   font-size: 60px;
   color: rgb(90, 146, 146);
   text-align: center;
   line-height: 100px;
   text-transform: uppercase;
}
.text {
   text-align: center;
   font-size: 40px;
   color: darkmagenta;
}
.cource {
   font-size: 80px;
   color: crimson;
   font-family: MoscowMetro, serif;
   line-height: 100px;
   text-shadow: 5px 5px 5px rgba(255, 13, 13, 0.712);
}
.zagolovok {
   font-family: "MoscowMetro", sans-serif;
   font-size: 50px;
   color: crimson;
   text-align: center;
}
#about {
   font-size: 30px;
   font-family: "Lato", serif;
   text-align: center;
   line-height: 50px;
   color: rgb(9, 160, 59);
}
#teacher{
   font-size: 30px;
   font-family: "Lato", serif;
   text-align: center;
   line-height: 50px;
}
.fakty{
   font-size: 30px;
   font-family: "Lato", serif;
   text-align: center;
   line-height: 50px;
}
.kolvo{
   font-size: 50px;
   font-family: "MoscowMetro",serif;
   text-align: center;
   line-height: 50px;
   color: crimson;
   letter-spacing: 15px;
}
#number{
   font-size: 30px;
   font-family: "Lato", serif;
   text-align: center;
   line-height: 50px;
}
.nomera{
   color: rgb(231, 20, 126);
   text-decoration: underline;
}