@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,cyrillic-ext);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic-ext);

body{font: 16px 'Open Sans', sans-serif; color:#4f5d6e;}
h1 {color:#0099cc; font:1.7em 'Roboto Condensed'; margin-top:0; margin-bottom: 5px;}
h1 span {display: block; font:italic 14px 'Open Sans', sans-serif; color:#333;}
h2 {font:1.6em 'Roboto Condensed'; color:#fe792a; margin-top:0;}
h2 span, h3 span {display: block; font:italic 14px 'Open Sans', sans-serif; color:#4f5d6e;} 
h2 a {color:#fe792a;} 
h2 a:hover {color:#fe792a;} 
h3 {font:1.5em 'Roboto Condensed'; margin-top: 15px; color:#55AC45;}
h4 {font:bold 18px 'Roboto Condensed'; margin-top: 15px; color: #55ac45; text-transform: uppercase;}
h4 > a:hover, h2 > a:hover {text-decoration: none;}
a {color: #0091cc;}
a:hover {color: #0091cc;}
a.linktext {color:#4f5d6e;}
a.linktext:hover,a.linktext:focus {text-decoration: none;}
img {border:0;}
hr {margin: 15px 0;}
.black {color: #000;}
.name {visibility: hidden; position: absolute;}
.glyphicon-map-marker {color:#ffa200; font-size: 1.4em;}
.list-group-item {border-radius:0 !important;}
.nav-tabs > li > a {border-radius:0 !important;}

.btn-success {background: #55ac45;}
.img-thumbnail {border-radius:0;}
a .glyphicon {margin-right: 5px;}
.table > tbody > tr > th {background:#ddd !important; color:#4f5d6e !important;}
td, th {border-top:none !important;}
form td {padding: 0;}
.form-control {margin-bottom: 10px;}
.table-striped > tbody > tr:nth-of-type(2n+1) {background:#f2f9fc;}
                                      
/* Top line */
.top {background: #666; padding:0.8em 0;}
.top .nav > li > a {color:#fff; display: inline; font-family:'Roboto Condensed'; font-size: 16px; padding:3px 8px; border-radius:0;}
.top .nav > li > a:hover, .top .nav > li.active > a {background: #484848;}
.lang .nav li a {font: 11px 'Open Sans'; padding:3px 8px; border-radius:0;}

/* Header */
header {padding:1% 0; }
.slogan {font-size:18px; font-style: italic; color:#55ac45;}
.gsc-input-box {height:auto !important;}
.gsc-search-button {width:auto !important; height:auto !important;}

/* Navigate menu */
.menu-line {background: #169ad0; margin-bottom:1.4%;}
.navbar, .navbar-nav {margin: 0; min-height: 0;}
.navbar-default {background: none; border: none;}
.navbar-collapse, .container-fluid {padding: 0;}
.navbar-toggle {background: #ddd;}
.container>.navbar-collapse {margin-left: -15px;}
.navbar-default .navbar-nav>li>a {font:18px 'Roboto Condensed'; text-transform: uppercase; color: #fff; line-height: 30px; padding:10px 23px;}
.navbar-default .navbar-nav>li>a.parent {background:#55ac45;}
.navbar-default .navbar-nav>li>a.active {border-bottom:5px solid #71c062; padding-bottom: 5px;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav > li.dropdown:hover > a {background:#f3f3f3; color: #333;}
ul.nav li.hovermenu:hover > ul.dropdown-menu {display: block;}

/* Offers */
.slide-order .price, .tour-list .price {font:bold 1.2em 'Roboto Condensed';}
.slide-order .currency, .tour-list .currency {font:1.1em 'Roboto Condensed';}
.tour-list .price, .tour-list .currency {color:#4f5d6e; font-family: 'Roboto Condensed';}
.slide-order .btn, .tour-list .btn {font:bold 1em 'Roboto Condensed'; height: auto; text-transform: uppercase; letter-spacing:2px; margin-top: 10px;}
.tour-list .btn {margin-top:0;}
.offer-content .price,.rechotels .price,.prices .price {font:24px 'Roboto Condensed'; color:#000}
.offer-content .currency,.rechotels .currency,.prices .currency {font-size:12px;}

/* Breadcrumb */
.breadcrumb {font-size:12px; background: none; margin:0 0 0 18px; padding:0;}
.breadcrumb a {color: #4f5d6e;}
.breadcrumb > .active {color: #a3afbf;}

/* Article */
article {clear: both; padding-top:15px; line-height: 24px;}
article h2 {margin-top:0;}
article h3 {color:#55AC45; font-size: 1.5em;}
article h3 a, article h3 a:hover {color:#55AC45; text-decoration: none;}
article ol {margin-left:-20px;}
article table ol {margin-left:0;}
article table td {padding:10px;}
article table td p {margin:0;}
article ol li {padding-left: 10px;}
article img {margin-right: 10px;}
.news-list .btn, .rechotels .btn, .tour-category .btn, .light .btn {padding:5px 12px; background: none; border:2px solid #55ac45; color:#55ac45;}
.news-list .btn:hover, .rechotels .btn:hover, .tour-category .btn:hover, .light .btn:hover {text-decoration: underline;}
.border {border:1px solid #ddd; padding:15px 15px 0 15px;}
.border-left {border-left:3px solid #8ccce7; padding:10px 15px 5px;}
.border .panel-heading a {color:#4f5d6e;}
aside .border {margin-bottom: 16px;}
.img-copyright {position: relative; display: block;}
.img-copyright > span {position: absolute; bottom: 0; right: 0;padding: 3px 10px; background-color: rgba(0,0,0,.5); color: #fff; font-size: .7em; }

/* Tours */
.tour-category {margin:20px 0;}
.tour-category a:nth-child(2) {font:1.4em 'Roboto Condensed'; display: block; min-height: 60px; margin-top: 10px;}
.tour-category.side a:nth-child(2) {min-height:0; margin-bottom: 10px;}
.tour-category p {height: 135px; overflow: hidden;}
.tour-category.side p {height: auto;}
.tour-category.side p {min-height:0; margin-bottom: 10px;}

.tour-list {padding:10px 0; border-top: 1px solid #DDD;}
.tour-list > img:nth-child(1) {margin-right: 20px;}
.tour-list > div:nth-child(1) > a {font:1.5em 'Roboto Condensed'; margin-bottom: 10px;}
.tour-list > div:nth-child(1) > span:nth-child(1) {margin-left: 10px;}
.tour-list > div:nth-child(4) > img:nth-child(1) {width:25%; margin-right:12px;}
.tour-short > a:nth-child(1) {font:1.6em 'Roboto Condensed'; }
.tour-short > img:nth-child(2) {margin:-25px 0 0 5px;} 
.tour-short > table td {padding-left: 0;}    
.tour-short > table td:nth-child(1) > a:nth-child(1) {line-height: 27px;}
.tour-list p {margin-bottom:10px;}
.tour-list.hotel table {width: calc(100% - 180px);}
.tour-list hr {margin: 25px 0;}
.tour-list-summary {color:#FE792A;}

.tour-detail h4 {color:#0099cc; font:2em 'Roboto Condensed'; margin-top: 0; text-transform: none;}
.tour-detail h4 span {display: block; font-weight: bold; color:#4f5d6e; text-transform: uppercase; letter-spacing: 2px; margin-top:8px;}
.tour-detail .btn {font-weight: bold; text-transform: uppercase; letter-spacing: 2px; padding: 10px 30px; margin-bottom: 10px;}
.nav.nav-tabs > li > a {font:bold 14px 'Roboto Condensed'; text-transform: uppercase; padding: 8px 18px; letter-spacing: 2px;}
.table > tbody > tr > th {background: #666; color:#fff; }
a.search {color:#55ac45;}
.blue-list li {list-style-image: url(../images/list-arrow-blue.svg); line-height: 30px; margin-left: -18px;}
.links .glyphicon {color:#55ac45;}
.links a {color:#0091cc; font:15px 'Roboto Condensed';}
.prices {padding-top:6px ;}

/* Hotels */
.promotext {font:1.8em 'Roboto Condensed'; color:#55ac45; padding: 15px; border:2px solid #55ac45; margin:5px 0 25px 0;}
.promotext div a {font:italic 0.7em 'Open Sans'; display: block;}
.hrecom .border {margin-bottom: 20px; overflow: hidden;}
.hrecom .border a:first-child {font-size: 1.6em; margin:15px 0;}
.hrecom .border span:nth-child(2) {display: block; font:italic 14px 'Open Sans', sans-serif; color:#333; margin-bottom: 10px;}
.hrecom .border > p:nth-child(5) {height:75px; overflow: hidden;}
.hrecom .border .price {font:16px 'Roboto Condensed'; margin: 10px 0;}
.hrecom .border .price small:first-child {margin-right: 80px;}

.photo-arrow {width:420px; position: absolute;}
.photo-arrow .glyphicon {position: relative; top:150px; font-size: 30px; color:#fff; cursor: pointer;}
.photo-arrow .glyphicon.glyphicon-chevron-right {float:right;}
.col-info {margin-top: 20px;}
.col-info ul {padding: 0;}
.col-info li {list-style: none;}
         
/* News */
.news-list {padding:3%;}
.news-list h2 {color:#55ac45; font-size:2.2em; margin-top: 0;}
.news-list img,.hotelsm {float:left; margin:0 3% 1.5% 0;}
.time-loc {font-size: 12px; color:#a4b1bf; }
.news-last a {font-size: 18px; color:#fe792a;}
.news-last a:hover {color:#fe792a;}
.news,.news-last {clear: both; margin-bottom: 15px;}
.news a {font-size: 15px;}
.news-img img:first-child {margin-right: 15px;}

/* Recomended Hotels */
.train-info {line-height: 34px;}
.train-info .panel-heading {padding: 5px 15px;}
.train-info .panel-title {font-size: inherit;}
.trains-list {font:bold 18px 'Roboto Condensed'; color:#4f5d6e; text-decoration: underline; line-height:30px;}
.trains-list:hover {color:#0091cc; text-decoration:none;}

/* Footer */
footer {background: url(../images/footer-bg.png); margin-top: 30px; padding: 15px 0; color:#fff;}
footer ul {margin-left:-20px;}
.top-offer li, footer li {list-style-image: url(../images/list-arrow.svg); line-height: 30px;}
.top-offer li a, footer a, footer a:hover, footer h4 {color: white;}
#facebook {background: url(../images/facebook.svg); float: left; width: 24px; height: 24px; margin-right: 10px;}
#facebook:hover {background-position: 0 -24px;}
#youtube {background: url(../images/youtube.svg); float: left; width: 24px; height: 24px; margin-right: 10px;}
#youtube:hover {background-position: 0 -24px;}
#twitter {background: url(../images/twitter.svg); float: left; width: 24px; height: 24px; margin-right: 10px;}
#twitter:hover {background-position: 0 -24px;}
#instagram {background: url(../images/instagram.svg); float: left; width: 24px; height: 24px; margin-right: 10px;}
#instagram:hover {background-position: 0 -24px;}

@media (max-width: 1200px) {
    .logo img {margin-left:0;}
    .navbar-default .navbar-nav>li>a {font-size:16px; padding:8px 16px;}
    .navbar-default .navbar-nav>li>a.active {border-bottom:3px solid #71c062; }
    .offer-content h2 {font-size: 1.6em; margin-top: 15px; margin-bottom: 0.2em;}
    .offer-content p {margin: 0.2em 0;}
    .offer-content .price {font-size: 2em;}
    .offer-content .btn {margin-top: 3px;}
    .slide-desc h3 a  {color:#fff; font-size: 1.2em;}
}  

@media (max-width: 992px) {
    .slogan {font-size:15px;} 
    .social-icon {margin-right:0;}   
    .navbar-default .navbar-nav>li>a {font-size:16px; text-transform:none; padding:5px 9px;}
    .navbar-default .navbar-nav>li>a.active {border-bottom:3px solid #71c062; padding-bottom:2px;}
    .offer-content h2 {font-size: 2em; margin-top: 20px; }
    .offer-content p {margin: 1em 0;}
    .offer-content .price {font-size: 2.2em;}
    .offer-content .btn {margin-top: 10px;}
    .tour-category a:nth-child(2) {min-height: 30px;}
}

@media (max-width: 768px) {
    .top {padding:5px 0;}
    .top .nav > li > a {font-size: 14px;}
    .lang .btn {border-radius:0; font-size:0.8em; border:none; background:#484848; color:#fff; padding: 8px 8px; margin:-5px 0;}
    .lang .dropdown-menu {min-width:auto; border-radius:0;}
    .lang ul.dropdown-menu li {list-style-image: none;}
    .lang .dropdown-menu > li > a {padding:3px 10px;}
    #menu-dest > a {font:16px 'Roboto Condensed'; margin-left: 15px; line-height: 34px; color: #fff; text-transform: capitalize;}
    #menu-dest.open.dropdown {background:none;}
    h4 {font-size: 16px;}
    article {margin-bottom: 10px;}
    ul.top-menu {margin-top:2px;}    
    .top-menu li a {padding:8px;}
    .form-search input {width:65% !important; }
    .form-control {font-size:16px; height: 38px;}
    .navbar-toggle {margin: 0; border:none; border-radius:0; background: none; z-index:1;}
    .navbar-toggle:hover {background:#0086bc !important;}
    .navbar-toggle .icon-bar {background:#fff !important; height: 3px; border-radius:2px;}        
    .navbar-default .navbar-nav>li>a {padding:3px 13px;} 
    .navbar-default .navbar-nav>li>a.active {border-bottom:3px solid #71c062; padding-bottom:0;}    
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {text-decoration: underline;}    
    .open.dropdown {background: #fff;}
    .slide-desc {font-size: 0.8em; height: auto;}
    .slide-desc h3 {margin:10px 0;}
    .slide-desc h3 a  {font-size: 0.9em; }
    .slide-order {font-size: 0.9em;}
    .slide-order .price {font-size:1.8em;}    
    .slide-order .currency {font-size:1.2em;}
    .slide-order .btn {font-size:0.8em; height:25px;}
    .carousel-indicators {left: 92%; width: 40%;}
    .photo-arrow {width: auto;}
    .photo-arrow .glyphicon {top:5px;}
    .photo-arrow .glyphicon.glyphicon-chevron-right {float:none;}
    .tour-list.hotel table {width: 100%;}
    .top-offer .row > div {padding:5px 5px 5px 15px;}
    .top-offer .row > div > h3 {margin:5px 0;}     
} 

@media (max-width: 550px) {
    h2 {font-size: 1.4em;}
    h3 {font-size: 1.3em !important;}
    td, th {padding:3px 0 !important; vertical-align: middle !important;}
    .slide-order .price:after {content:"\a"; white-space: pre;}
    .tour-list > div:nth-child(2) > p:nth-child(1) > a:nth-child(1) {font: 1.5em 'Roboto Condensed';}
    .tour-list > div:nth-child(1) {padding: 0; margin-top: 10px;}
    .tour-short > div:nth-child(2) {margin-top: 0 !important;}
    .tour-img {float: none; display: block; margin: 0 auto; margin-bottom: 10px;}
    .price {color:#fe792a;}
    .col-xs-5.col-sm-8 {width: 100%;}
    .col-xs-7.col-sm-4.text-right {clear: both; width: 100%; padding-top:0 !important; margin-top: -15px;}
    .one-photo {width: 100% !important; height: 100% !important; margin: 3px auto 9px !important;}
    .lang .nav li a {font: 14px 'Roboto Condensed';
        padding: 5px 15px;
        border-radius: 0;
        color: #fff;
        margin-top: 9px;}
} 